<div class="container">
  <div class="box-3" *ngFor="let city of randomCity; index as i">
    <div class="title">
      <p class="city">{{ city.name }}</p>
      <img src="{{ weather[i].img }}" alt="weather-picture">
    </div>
    <p class="temp">Temperature: {{ weather[i].temp }}</p>
    <p class="desc">Description: {{ weather[i].desc }}</p>
    <button type="button" class="btn" [class.selected]="city === selectedCity"
            (click)="onSelect(city)" routerLink="/detail/{{city.id}}">
      <a *ngIf="1">View</a>
    </button>
  </div>
</div>